/* 
 * Reset Style
 */

body, nav, main, ul, ol, li, p, button, input, strong, p, div, span {
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style: none;
}

button {
  border: none;
  box-sizing: border-box;
  background-color: transparent;
  outline: none;
  appearance: none;
  cursor: pointer;
}

input {
  border: none;
  box-sizing: border-box;
  background-color: transparent;
  outline: none;
  appearance: none;
}

img {
  width: 100%;
  vertical-align: top;
}

/* 
 * Common Style
 */

html, body {
  height: 100%;
  background-color: #fff;
  user-select: none;
}

body, input, select, textarea, table, button {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  word-break: keep-all;
  overflow-wrap: break-word;
}

.gnb {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 0 7px #7d7d7d;
}

.gnb__list {
  padding: 20px;
  display: flex;
  gap: 0 20px;
  overflow-x: auto;
}

.gnb__item {
  width: 100%;
  min-width: 150px
}

.gnb__item > button {
  width: 100%;
  padding: 6px 10px;
  border: 1px solid #333;
}

main {
  min-height: 100%;
  margin-top: -78px;
  padding-top: 156px;
  box-sizing: border-box;
}

.window-list-container {
  padding: 30px;
}

.window-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.window-list:empty::after {
  display: block;
  width: 100%;
  margin-top: 20px;
  text-align: center;
  color: #cacaca;
  content: 'No windows were created.';
}

.window-list > li {
  width: calc(100% / 3 - 20px);
  min-width: 200px;
}

.window-list > li .window-item-box {
  position: relative;
  width: 100%;
  padding: 15px;
  border: 1px solid #333;
  box-sizing: border-box;
  font-size: 14px;
  background-color: #fff;
  cursor: pointer;
  transition: box-shadow .3s
}

.window-list > li.selected .window-item-box {
  box-shadow: inset 0px -7px 0px #38b47b;
}

.window-list > li .window-item-box strong {
  display: inline-block;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.window-list > li .window-item-box p {
  margin-top: 5px;
}

.window-list > li .window-item-box p > span {
  display: inline-block;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.window-list > li .icon-box {
  position: absolute;
  top: -24px;
  right: -15px;
  display: flex;
}

.window-list > li .icon-box .icon:not(.icon-plus) {
  position: absolute;
  top: 1.5px;
  right: 3px;
  width: 38px;
  filter: brightness(0.4);
  transition: right .3s ease, transform .3s, filter .2s;
}

.window-list > li .icon-box .icon-plus {
  position: relative;
  top: 0;
  z-index: 10;
  width: 42px;
  transition: transform .3s;
}

.window-list > li .window-item-box .icon-box .icon-checkmark {
  transition-duration: .3s, .4s, .2s;
}

.window-list > li .icon-box .icon-plus.active {
  transform: rotate(225deg);
}

.window-list > li .icon-box .icon-plus.active ~ .icon-checkmark {
  right: 84px;
  transform: rotate(360deg);
}

.window-list > li .icon-box .icon-plus.active ~ .icon-delete {
  right: 43px;
  transform: rotate(360deg);
}

.window-list > li .icon-box .icon-checkmark img {
  transition: filter .1s;
}

.window-list > li .icon-box .icon:hover {
  filter: brightness(1);
}

.window-list > li.selected .icon-box .icon-checkmark {
  filter: brightness(1);
}

.window-list > li.selected .icon-box .icon-checkmark img {
  filter: drop-shadow(2px 3px 3px rgba(0,0,0,0.7))
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 110;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,.85);
  display: none;
}

.modal-open {
  display: flex;
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px 0;
  width: 400px;
  padding: 20px 30px;
  border-radius: 10px;
  background-color: #fff;
}

.modal-content > :nth-child(n) {
  width: 100%;
}

.input--url {
  border: 1px solid #333;
  padding: 6px 10px;
}

.btn-group--row {
  display: flex;
  gap: 0 15px;
}

.btn-group--row .btn {
  flex: 1 1 50%;
  width: 100%;
  padding: 6px 10px;
  border: 1px solid #333;
}