/* 
 * Reset Style
 */

body, nav, main, ul, ol, li, p, button, input, select, option, strong, p, div, span {
  margin: 0;
  padding: 0;
  font: inherit;
}

ul, ol {
  list-style: none;
}

button {
  border: none;
  background-color: transparent;
  outline: none;
  appearance: none;
  cursor: pointer;
}

input {
  border: none;
  box-sizing: border-box;
  background-color: transparent;
  outline: none;
  appearance: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

select {
  border: none;
  box-sizing: border-box;
  background-color: transparent;
  outline: none;
  appearance: none;
}

img {
  width: 100%;
  vertical-align: top;
}

/*
 * Global Set Up
 */

 :root {

   /* Color */
  --color-green: #15e38a;
  --color-red: #da1212;
  --color-grey: #afafaf;
  --color-dark-grey: #2e2e2e;
  --color-grey-background: #ececec;

  /* Box Shadow */
  --box-shadow-large: -7px -7px 17px rgba(255,255,255,0.6),
                      7px 7px 17px rgba(70,70,70,0.16);
  --box-shadow-medium: -4px -4px 11px rgba(255,255,255,0.6),
                        4px 4px 11px rgba(70,70,70,0.16);
  --box-shadow-small: -2px -2px 5px rgba(255,255,255,0.6),
                      2px 2px 5px rgba(70,70,70,0.16);

  --box-shadow-large-active: -7px -7px 17px rgba(255,255,255,0.6),
                              7px 7px 17px rgba(70,70,70,0.16),
                              inset -7px -7px 17px rgba(255,255,255,0.6),
                              inset 7px 7px 17px rgba(70,70,70,0.16);
  --box-shadow-medium-active: -4px -4px 11px rgba(255,255,255,0.6),
                              4px 4px 11px rgba(70,70,70,0.16),
                              inset -4px -4px 11px rgba(255,255,255,0.6),
                              inset 4px 4px 11px rgba(70,70,70,0.16);
  --box-shadow-small-active: -2px -2px 5px rgba(255,255,255,0.6),
                              2px 2px 5px rgba(70,70,70,0.16),
                              inset -2px -2px 5px rgba(255,255,255,0.6),
                              inset 2px 2px 5px rgba(70,70,70,0.16);

  /* Transition */
  --duration-active: .2s;
  --duration-hover: .35s;

  /* Font Size */
  --font-large: 16px;
  --font-medium: 14px;
  --font-small: 12px;

  /* Font Size - button:active */
  --font-medium-active: 13.5px;
  --font-small-active: 11.5px;

  /* Font Weight */
  --weight-bold: 700;
  --weight-regular: 400;
  --weight-light: 300;

  /* Text Shadow */
  --text-shadow: 0.5px 0.5px 1px rgba(46,46,46,.35);
  --text-shadow-grey: 0.5px 0.5px 1px rgba(175,175,175,.35);

  /* Gap */
  --gap-row-large: 40px;
  --gap-column-large: 40px;
  --gap-row-medium: 30px;
  --gap-column-medium: 30px;
 }

html, body {
  height: 100%;
  background-color: var(--color-grey-background);
  user-select: none;
}

body, input, select, textarea, table, button {
  font-weight: var(--weight-regular);
  font-size: var(--font-medium);
  line-height: 1.5;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: var(--color-dark-grey);
  word-break: keep-all;
  overflow-wrap: break-word;
}


/* 
 * Common Style
 */

.btn {
  padding: 6px 10px;
  border-radius: 10px;
  border: 3px solid var(--color-grey-background);
  background-color: var(--color-grey-background);
  box-shadow: var(--box-shadow-medium);
  text-shadow: var(--text-shadow);
  transition: box-shadow var(--duration-active);
}

.btn span {
  transition: font-size var(--duration-active);
}

.btn:active {
  box-shadow: var(--box-shadow-medium-active);
}

.btn:active span {
  font-size: var(--font-medium-active);
}

.btn:disabled {
  color: var(--color-grey);
  text-shadow: var(--text-shadow-grey);
  cursor: not-allowed;
}

.btn.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 37px;
  height: 37px;
  padding: 0;
  border-radius: 50%;
}

.btn.icon svg {
  width: 18.5px;
  height: 18.5px;
  color: var(--color-grey);
  transition: transform var(--duration-active);
}

.btn.icon:active svg {
  transform: scale(.9);
}

.btn--sm {
  padding: 4px 8px;
  border-radius: 8px;
  border: 2px solid var(--color-grey-background);
  box-shadow: var(--box-shadow-small);
  font-size: var(--font-small);
}

.btn--sm.icon {
  width: 28px;
  height: 28px;
}

.btn--sm:active {
  box-shadow: var(--box-shadow-small-active)
}

.btn--sm:active span {
  font-size: var(--font-small-active);
}

.btn--sm.icon svg {
  width: 14px;
  height: 14px;
}

.input {
  padding: 8px 14px;
  border-radius: 20px;
  background-color: var(--color-grey-background);
  box-shadow: var(--box-shadow-medium-active);
  text-shadow: var(--text-shadow);
}

.input:disabled {
  color: var(--color-grey);
  text-shadow: var(--text-shadow-grey);
 }

.select {
  width: 100%;
  padding: 8px 30px 8px 18px;
  border-radius: 20px;
  box-shadow: var(--box-shadow-medium-active);
  text-shadow: var(--text-shadow);
}

.form-control--select {
  position: relative
}

.form-control--select svg {
  position: absolute;
  top: 50%;
  right: 16px;
  z-index: -1;
  margin-top: -7px;
}

.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* 
 * Nav Style
 */

.gnb {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  background-color: var(--color-grey-background);
  box-shadow: 0 0 14px rgba(77, 77, 77, 0.45);
}

.gnb__list {
  overflow-x: auto;
  display: flex;
  padding: 24px var(--gap-column-medium);
  column-gap: var(--gap-column-medium);
}

.gnb__item {
  width: 100%;
}

.gnb__item > .btn {
  width: 100%;
  min-width: 140px;
}

.gnb__item > .btn:disabled span {
  pointer-events: none
}

.gnb__item > .btn svg {
  margin-right: 2px;
  vertical-align: middle;
}

.gnb__item > .btn:active svg {
  transform: scale(.96);
}

/* Submenu - Resizing */

.submenu-container--resizing {
  position: absolute;
  top: 80px;
  z-index: 110;
  overflow-y: auto;
  height: 252px;
  margin-left: -200px;
  border-radius: 14px;
  box-sizing: border-box;
  background-color: var(--color-grey-background);
  box-shadow: 0 0 17px 6px rgba(70 70 70 / 0.2);
  display: none
}

.submenu-container--resizing.modal-open {
  display: block
}

.submenu-container__input-area {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  gap: 0 10px;
  padding: 30px 30px 14px;
  background-color: var(--color-grey-background);
}

.submenu-container__input-area .select--device {
  width: 110px;
  margin-right: 5px;
}

.submenu-container__input-area .input {
  text-align: center;
}

.submenu-container__input-area .btn--plus {
  margin-left: 5px;
  border: none;
}

.submenu-container__list {
  display: flex;
  justify-content: space-between;
  gap: 0 30px;
  margin-top: 4px;
  padding: 0 30px 30px;
}

.submenu-container__list > li {
  width: 100%
}

.submenu-container__list > li > strong[data-device] {
  width: 34px;
  height: 34px;
  margin: 0 auto;
  border: none;
  box-shadow: var(--box-shadow-small-active);
  pointer-events: none;
}

.submenu-container__list > li > strong[data-device] svg {
  width: 17px;
  height: 17px;
}

.submenu-container__list .resizing-list {
  margin-top: 12px;
}

.submenu-container__list .resizing-list > li {
  display: flex;
  column-gap: 8px;
  width: 100%;
}

.submenu-container__list .resizing-list > li + li {
  margin-top: 10px;
}

.submenu-container__list .resizing-list > li > .btn {
  flex: 1 1 100%;
  border: none;
  border-radius: 20px;
}

.submenu-container__list .resizing-list > li > .btn-delete {
  flex: 0 0 auto
}

.submenu-container__list .resizing-list > li > .btn-delete:hover svg {
  color: var(--color-red);
}

/* 
 * Main Style
 */

main {
  overflow-x: auto;
  min-width: 1050px;
  min-height: 100%;
  margin-top: -87px;
  padding-top: 174px;
  box-sizing: border-box;
}

.window-list-container {
  padding: var(--gap-row-large) var(--gap-column-large);
}

.window-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: var(--gap-row-large);
  column-gap: var(--gap-column-large);
}

.window-list:empty::after {
  display: block;
  width: 100%;
  margin-top: 20px;
  text-align: center;
  color: var(--color-grey);
  content: 'No windows were created.';
}

.window-list > li {
  width: calc(100% / 3 - (var(--gap-column-large) * 2 / 3));
}

.window-list > li .window-item-box {
  width: 100%;
  padding: 16px 22px;
  border-radius: 10px;
  box-sizing: border-box;
  background-color: var(--color-grey-background);
  box-shadow: var(--box-shadow-large);
  cursor: pointer;
}

.window-list > li .window-item-box strong {
  display: block;
  width: 100%;
  font-weight: var(--weight-bold);
  text-shadow: var(--text-shadow);
}

.window-list > li .window-item-box p {
  margin-top: 5px;
  text-shadow: var(--text-shadow);
}

.window-list > li .window-item-box p > span {
  display: block;
  width: 100%;
}

.window-list > li .window-item-box .btn-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
}

.window-list > li .window-item-box .btn-box {
  display: flex;
  column-gap: 10px;
}

.window-list > li .window-item-box .icon-check.on {
  box-shadow: var(--box-shadow-small-active)
}

.window-list > li .window-item-box .icon-check.on svg {
  transform: scale(.9);
}

.window-list > li .window-item-box .icon-check:hover svg,
.window-list > li .window-item-box .icon-check.on svg {
  color: var(--color-green);
}

.window-list > li .window-item-box .icon-delete:hover svg {
  color: var(--color-red)
}

.window-list > li .window-item-box .btn-toggle {
  transition: box-shadow var(--duration-active);
  cursor: default;
}

.window-list > li .window-item-box .btn-toggle svg {
  color: var(--color-red);
  pointer-events: none;
}

.window-list > li.active .window-item-box .btn-toggle {
  box-shadow: var(--box-shadow-small-active)
}
.window-list > li.active .window-item-box .btn-toggle svg {
  color: var(--color-green);
  transform: scale(.9)
}

/* 
 * Modal Style
 */

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 110;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  background-color: rgba(53,53,53,.35);
  display: none;
}

.modal.modal-open {
  display: flex;
}

.modal-content {
  width: 100%;
  max-width: 400px;
  min-width: 300px;
  padding: 30px;
  border-radius: 14px;
  background-color: var(--color-grey-background);
  box-shadow: 0 0 17px 6px rgba(70 70 70 / 0.2);
}

.modal-content .form-group {
  width: 100%;
}

.modal-content .form-group:first-child + .form-group {
  margin-top: 20px;
}

.modal-content .form-group + .form-group {
  margin-top: 30px;
}

.modal-content .form-group .input {
  width: 100%;
}

.modal-content .form-group p {
  text-shadow: var(--text-shadow);
}

.modal-content .form-group--row {
  display: flex;
  gap: 0 var(--gap-column-medium);
}

.modal-content .form-group--row .btn {
  flex: 1 1 50%;
  transition: box-shadow var(--duration-active);
}

.modal-content .form-group--row .btn span {
  transition: font-size var(--duration-active);
}

.modal-content .form-group--row .btn:active span {
  font-size: 13.5px;
}

.modal-content .form-group--row .btn:disabled span {
  pointer-events: none
}